extends layout

block content
  div(ng-controller="SessionsListCtrl")
    md-list
      md-list-item(class="md-3-line" ng-repeat="item in sessions" ng-click="showSessionInfo(item.id)")
        div(class="md-list-item-text" layout="column")
          div(class="md-secondary" layout="row" layout-align="center center")
            p(md-colors="{color: item.color}") {{item.label}}
            span
              md-icon(md-font-library="material-icons" class="md-secondary" ng-style="{color: item.color}" style="padding-left: 5px;") {{item.icon}}
          div(layout="column")
            p Started at: {{item.startedAt}}
            p Ended at: {{item.endedAt}}
          md-divider
    div(layout="row" layout-align="center center" ng-show="isLoading" id="loading")
      div(layout="column")
        md-progress-circular(md-mode="indeterminate" md-diameter="96")

    div(flex layout="row" layout-align="center center" ng-if="sessions && sessions.length>0")
      p Number of log sessions fetched: {{sessions.length}}


  script(type="text/ng-template" id="session-info-dialog.tmpl.html")

    md-dialog(aria-label="Sync session details" class="fullscreen-dialog")
      form(ng-cloak)
        md-toolbar(md-colors="{background: 'blue-grey-50', color: 'grey'}")
          div(class="md-toolbar-tools")
            h2 Synchronization session details
            span(flex)
            md-button(class="md-icon-button" ng-click="close()")
              md-icon(md-font-library="material-icons" md-colors="{color: 'grey'}") close
        md-dialog-content
          .md-dialog-content(id="session-info-md-dialog-content")
            md-list(flex)
              md-list-item(class="md-3-line" ng-repeat="item in logs" flex)
                div(class="md-list-item-text" layout="column")
                  h4(md-colors="{color: 'blue-grey'}") {{item.type}} ({{item.createdAt}})
                  h4(md-colors="{color: item.color}") {{item.message}}
                  p(ng-if="item.description", md-colors="{color: item.color}") {{item.description}}
                div(class="md-secondary" layout="row" layout-align="center center")
                  p(md-colors="{color: item.color}") {{item.level}}
                  span
                    md-icon(md-font-library="material-icons" class="md-secondary" ng-style="{color: item.color}" style="padding-left: 5px;") {{item.icon}}
                md-divider

            div(layout="row" layout-align="center center" ng-show="isLoading")
              div(layout="column")
                md-progress-circular(md-mode="indeterminate" md-diameter="96")
        md-divider
        md-dialog-actions
          span(flex)
          md-button(ng-click="close()") Close
          span(flex)