doctype html
html(ng-app="LinkerSyncMonitor")
    head
        title= title
        link(rel='stylesheet', href='/modules/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body(ng-controller='MainCtrl')
        md-toolbar(md-scroll-shrink layout="row" layout-align="left center" md-colors="{background: 'blue-grey-50'}" class='toolbar')
            img(id='logo-image', src='/images/logo.png' width=35)
            .logo Linker sync log viewer
        md-nav-bar(md-selected-nav-item="selectedMenuItem", nav-bar-aria-label="navigation links")
            md-nav-item(md-nav-click="goto('dashboard')", name="dashboard" md-colors="{color: 'primary'}") Dashboard
            //md-nav-item(md-nav-click="goto('charts')", name="charts", disable="1") Charts
        div(flex, class='content')
            block content

        script(src='/modules/jquery/dist/jquery.js')
        script(src='/modules/angular/angular.js')
        script(src='/modules/angular-aria/angular-aria.js')
        script(src='/modules/angular-material/angular-material.js')
        script(src='/modules/angular-animate/angular-animate.js')

        script(src='/javascripts/app.js')
        script(src='/javascripts/main-controller.js')
        script(src='/javascripts/sessions-list-controller.js')
