doctype html
html(ng-app="LinkerSyncMonitor")
    head
        title= title
        link(rel='stylesheet', href='/modules/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body(ng-controller='MainCtrl')
        md-toolbar(md-scroll-shrink layout="row" layout-align="left center" md-colors="{background: 'blue-grey-50'}" class='toolbar')
            img(id='logo-image', src='/images/logo.png' width=35)
            .logo Linker sync log viewer

        // Filter navbar:
        md-card(class="filtering-toolbar")
            md-toolbar(md-colors="{background: 'indigo-200'}")
                .md-toolbar-tools
                    span(style="color: white !important; font-size: 18px;") Filter & sort
                    span(flex)
                    md-button(class="md-icon-button")
                        md-icon(md-font-library="material-icons" ng-click="toggleFilteringMenu()") menu

            div(ng-if="isFilteringVisible")
                md-card-content(flex layout-padding)
                    div(layout-gt-xs="row" layout="row" layout-align="start start")
                        md-input-container
                            label Started at
                            md-datepicker(ng-model="user.submissionDate")
                        md-input-container
                            label Ended at
                            md-datepicker(ng-model="user.submissionDate")
                        md-list
                            md-subheader(class="md-no-sticky") Levels
                            md-list-item(ng-repeat="level in levels")
                                md-checkbox(ng-model="level.checked")
                                p {{level.name}}
                        md-input-container
                            md-checkbox(ng-model="processedAnyItem") Was any item processed
                        div(layout="column")
                            div
                                md-input-container
                                    md-switch(ng-model="descending") Order by descending
                                md-input-container
                                    span Order by date:
                                    md-radio-group(ng-model="orderDate")
                                        md-radio-button(class="md-primary", value="startedAt") Stated at
                                        md-radio-button(class="md-primary", value="endedAt") Ended at


                md-card-actions(layout="row" layout-align="center center")
                    md-button(class="md-raised")
                        md-icon(md-font-library="material-icons") clear
                        span Clear
                    md-button(class="md-raised md-primary")
                        md-icon(md-font-library="material-icons") done
                        span Apply

        div(flex, class='content')
            block content

        script(src='/modules/jquery/dist/jquery.js')
        script(src='/modules/angular/angular.js')
        script(src='/modules/angular-aria/angular-aria.js')
        script(src='/modules/angular-material/angular-material.js')
        script(src='/modules/angular-animate/angular-animate.js')

        script(src='/javascripts/app.js')
        script(src='/javascripts/main-controller.js')
        script(src='/javascripts/sessions-list-controller.js')
        script(src='/javascripts/session-info-controller.js')
